<h2>  <%= @title %>  </h2>

<div id="menu_l"> <h3> Пакетное предложение </h3>

	<ul>
	<li> Для сельхозпроизводителей  </li>
	<li> Для сельхозпроизводителей  </li>
	<li> Для сельхозпроизводителей  </li>
	
	</ul>
<div>


