  <div id="templatemo_footer">

         <a href="index.html" class="current">Home</a> | <a href="about.html">About Us</a> | <a href="services.html">Services</a> | <a href="blog.html">Blog</a> | <a href="contact.html">Contact Us</a> <br /><br />
        Copyright © 2048 <a href="#">Your Company Name</a> | Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>

    </div> <!-- end of footer -->

